.wrapper {
	margin: 50px auto;
	max-width: 800px;
	padding: 20px;
}

.header {
	padding: 30px 0;
	border-bottom: solid;
}

.content {
	float: right;
	width: 75%;
	border-left: solid;
	padding-left: 30px;
}

nav {
	float: left;
	width: 20%;
}

nav ul {
	list-style-type: none;
	padding: 0;
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-style: italic;
}

nav {
  float:none;
  margin:0 auto;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color:#777;
  margin-left: 1.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

nav a:hover {
  color:#000;
  border-color: #000;
  border-width:2px;
}

